a:hover {
    color: red;
    text-decoration: none;
}

a:focus {
    color: yellow
}

.my_color {
    color: green;
}

.my_font {
    font-size: 22px;
}
.my_box {
    background-color: aquamarine;

    /*
    border-top: 10px;
    border-top-style: solid;
    border-top-color: blue;

    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: blue;

    border-left: 10px;
    border-left-style: solid;
    border-left-color: blue;

    */

    /*    comments    */

    border: 10px solid blue;

    padding: 20px;

    margin: 25px;

    width: 50%;
    height: 120px;

    background-image:url(dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-left: auto;
    margin-right: auto;

}

form {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.my_input_txt {
    width:100%;
    margin: 3px;
}

@media (max-width:500px) {

    h1 {font-size: 10px;
    }
}

@media (min-width:1000px) {

    h1 {font-size: 50px;
    }
}
