body {
    font-family: 'Montserrat', sans-serif;}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/*
div {
    border: 1px solid grey
}

.btn-primary {
    background-color: blueviolet;
}
*/

.my-btn-color {
    background-color: blueviolet;
}

/*
.my-background-color {
    background-color: aquamarine
}
*/

.jumbotron{
    background-color: burlywood;
}

h1{
    color: brown!important;
}

.my-img {
    height: 200px !important;
    width: 100% !important
}

.my-icon-color {color: red;
}

.my-margin-bottom {
    margin-bottom: 30px;
}

.my-link:hover {
    text-decoration: none;
    color: red;
}

.general_spacing {
    margin-bottom: 70px;
}